<p >money works!</p>
<!--<div class="container">-->

<!--  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">-->
<!--    <div *ngFor="let money of moneies" class="col-md-6">-->
<!--      <div class="card shadow-sm">-->
<!--        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->

<!--        <div class="card-body">-->
<!--          <p class="card-text">{{money.name}}</p>-->
<!--          <div class="d-flex justify-content-between align-items-center">-->
<!--            <div class="btn-group">-->
<!--              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
<!--              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
<!--            </div>-->
<!--            <small class="text-muted">9 mins</small>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="align-items-center">


  <div class="modal-dialog" role="document">

    <div  class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>

      <div [formGroup]="moneyForms" class="form-group">

<!--        <div class="form-group">-->
          <label class="form-label mt-4">Input addons</label>
          <div class="form-group">
            <div class="input-group mb-3">
              <span class="input-group-text">Amount</span>
              <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" [defaultValue]="1" formControlName="coust">
              <span class="input-group-text">.00</span>
            </div>
          </div>
<!--        </div>-->

<!--        <div  class="form-group">-->
          <label for="exampleSelect1" class="form-label mt-4">Choose Your Money</label>
          <select  class="form-select" id="exampleSelect1" formControlName="youMoney">
            <option *ngFor="let money of moneies">{{money.code}}</option>
          </select>
<!--        </div>-->

<!--        <div class="form-group">-->
          <label for="exampleSelect2" class="form-label mt-4">Choose Converted Money</label>
          <select class="form-select" id="exampleSelect2" formControlName="convertedMoney">
            <option *ngFor="let money of moneies">{{money.code}}</option>
          </select>
<!--        </div>-->

        <div >
          <p>{{respon.rightConv}}</p>
          <p>{{respon.leftConv}}</p>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" (click)="converte()" class="btn btn-primary">Save changes</button>
<!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
      </div>

    </div>

  </div>


</div>
